// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.microposts-container {
  background-color: rgb(240, 240, 238);
  color: rgb(97, 50, 33);
  padding: 10px;
}
